* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: calc(100% - 330px);
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

ul {

    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
}
h2{
    text-transform: uppercase;
    font-size: 30px;
    color: #3A3845;
    text-align: center;
}